<FlexboxLayout class="page">

    <Image class="logo" src="res://tienda" loadMode="async" stretch="aspectFit"></Image>
    <Label class="header" text="EMPLEADOS"></Label>
    <PreviousNextView>
        <GridLayout rows="auto, auto, auto">
            <RadDataForm id='formData' tkExampleTitle tkToggleNavButton [source]="person" [isEnabled]="!processing" (propertyValidate)="onPropertyValidate($event)" (propertyValidated)="onPropertyValidated($event)">
                <TKEntityProperty tkDataFormProperty name="usuario" index="0">
                    <TKNonEmptyValidator tkEntityPropertyValidators errorMessage="Este campo es requerido"></TKNonEmptyValidator>
                </TKEntityProperty>
                <TKEntityProperty tkDataFormProperty name="clave" index="1">
                    <TKPropertyEditor tkEntityPropertyEditor type="clave"></TKPropertyEditor>
                    <TKMinimumLengthValidator tkEntityPropertyValidators length="6" errorMessage="Este campo es requerido y debe tener 6 caracteres"></TKMinimumLengthValidator>
                </TKEntityProperty>
            </RadDataForm>
        </GridLayout>
        <ActivityIndicator rowSpan="3" [busy]="processing"></ActivityIndicator>
    </PreviousNextView>
    <Label [text]="text" textWrap="true" margin="12"></Label>
    <Button [text]="'Ingresar' " [isEnabled]="!processing" (tap)="submit()" class="btn btn-primary m-t-20"></Button>
</FlexboxLayout>