/* Add mobile styles for the component here.  */
.form {
    align-items: center;
    flex-direction: column;
    justify-content: flex-start;
    margin-top: 20;
}

.input-field {
    width: 80%;
}

.label {
    font-weight: bold;
    font-family: 'Oswald', 'Oswald-Regular', 'Oswald-Bold';
}

.input {
    border-bottom-width: 2;
    width: 100%;
}

Button {
    width: 80%;
}
